<h1>howdy</h1>

<form>
<div></div>
  <label for="giraffe">Enter a number</label>

</div>
  <input id="giraffe" type="text" placeholder="What number do you want to square?" name="elephant">

<div>
  <button>
    Calculate square
  </button>
</div>
</form>
